@media (max-width: 1055px) {
    .hero {

        &__inner {
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            // align-items: flex-end;
        }

        &__box {
            margin-top: 40px;
            max-width: 100%;
            text-align: center;
            margin-bottom: 70px;
            margin-right: 0;
        }

        &__title {
            font-size: 70px;    
        }

        &__img {
            width: 100%;
            height: 100%;
            // margin-left: 30px;
        }
        
        &__buttons {
            justify-content: center;
        }
    }
}

@media (max-width: 992px) {
    .header{

        &__btn {
            padding: 12px 40px;
            font-size: 16px;    
        }
    }
}

@media (max-width: 940px) {
    // === tariff ===
    .tariff {
        padding-top: 50px;  
        padding-bottom: 40px;

        &__title {
            max-width: 100%;
            text-align: center;
        }

        &__btns {
            margin-left: 0;
            margin: 0 auto;
        }
    }
}

@media (max-width: 835px) {
    // === services ===
    .services {
        padding-top: 50px;

        &__item {
            justify-content: center;
            margin-bottom: 60px;
        }

        &__item-textbox {
            max-width: 100%;
            text-align: center;
        }

        &__img--second {
            order: 0;
        }
    }

    // === tariff ===
    .tariff {

        &__title {
            font-size: 53px;
            line-height: 57px;
        }
    }
}

@media (max-width: 788px) {
    .menu {
        transform: translateY(-300%);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100vh;  
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;    
        overflow: auto;
        z-index: 1;
        background-color: #fff;
        transition: all ease-in-out .5s;

        &__item {
            margin-bottom: 60px;
            
            &:first-child {
                margin-top: 70px;
            }
        }

        &__link {
            font-size: 30px;
            width: 100%;
            display: block;  
        }
    }

    .--active {
        transform: translateY(0);
    }
    
    .btn--active {
        visibility: visible !important;
        z-index: 10;
        transition: all .5s;
    }
    .header__btn {
        position: absolute;
        top: 370px;
        right: 49%;
        transform: translateX(50%);
        visibility: hidden;
        
    }

    .burger {
        display: block;
    }

    // === hero ===

    .hero {

        &__title {
            font-size: 60px;
        }
    }

    // === abilities ===
    .abilities {
        padding-top: 20px;
        padding-bottom: 40px;
    }
}

@media (max-width: 725px) {
    // === tariff ===
    .tariff {
        
        &__content {
            justify-content: center;
        }

        &__item-price {
            font-size: 53px;
        }

        &__item-pricespan {
            font-size: 26px;
        }
    }
}

@media (max-width: 695px) {
    // === abilities ===
    .abilities {

        &__inner {
            justify-content: center;
        }

        &__item-img--1 {
            margin: 0 auto 7px 17px;
        }
    }
}

@media (max-width: 690px) {
    // === tariff ===
    .tariff {

        &__item {
            margin-right: 0;
        }
    }
}

@media (max-width: 680px) {
    // === hero ===
    .hero {
        padding-bottom: 35px;
        padding-top: 20px;

        &__box {
            margin-top: 15px;
        }

        &__title {
            font-size: 50px;
            line-height: 61px;
        }

        &__btn {
            padding: 10px 60px;
        }
    }

    // === brands ===
    .brands {
        padding-top: 35px;
    }
}

@media (max-width: 600px) {
    // === services ===
    .services {
        &__item-title {
            font-size: 43px;
            line-height: 46px;
            margin-bottom: 14px;
        }
    }
}  
@media (max-width: 568px) {
    // === brands ===
    .brands {

        &__inner {
            justify-content: center;
        }
    }
    
    // === abilities ===
    .abilities {

        &__item {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }

    // === tariff ===
    .tariff {
        padding-top: 25px;
        padding-bottom: 25px;
        &__title {
            font-size: 48px;
            line-height: 47px;
            margin-bottom: 25px;
        }
        
    }
}

@media (max-width: 500px) {
    // === hero ===
    .hero {
        padding-bottom: 35px;

        &__title {
            font-size: 34px;
            line-height: 42px;
        }

        &__btn {
            padding: 10px 45px;
        }

        &__text {
            margin-bottom: 35px;
        }

        &__btn-down {
            padding: 14px;
        }
    }

    // === brands ===
    .brands {
        padding-bottom: 15px;
    }

    // === services ===
    .services {
        padding-top: 30px;
        &__item-title {
            font-size: 39px;
            line-height: 43px;
            margin-bottom: 10px;
        }

        &__item-text {
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 19px;
        }

        &__img {
            height: 400px;
        }
    }

    // === tariff ===
    .tariff {

        &__top {
            margin-bottom: 50px;
        }

        &__title {
            font-size: 38px;
            line-height: 36px;
            margin-bottom: 20px;
        }

        &__btn {
            padding: 14px 38px;
        }
    }
}

@media (max-width: 400px) {
    .header__btn {
        padding: 14px 27px;
    }

    // === tariff ===
    .tariff {

        &__item-btn {
            padding: 15px 62px;
        }
    }
}

@media (max-width: 384px) {
    // === services ===
    .services {

        &__item-title {
            font-size: 35px;
            line-height: 37px;
        }
    }
}