@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


// === header ===

.header{
    padding-top: 30px;  
    padding-bottom: 30px;   

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
    }

    &__btn {
        border: none;
        background-color: $orange;
        color: #fff;
        padding: 19px 60px;
        font-size: 17px;    
        font-weight: 700;
        line-height: 22px;
        border-radius: 10px;    
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.menu {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 327px;   

    &__link {
        font-weight: 700;
        color: $text-color;
        font-size: 15px;
        line-height: 20px;
        transition: all .3s;

        &:hover {
            color: $title-color;
            text-decoration: underline;
        }
    }
}

.burger {
    z-index: 15;
    position: relative;
    border: none;
    background-color: transparent;
    display: none;

    &__line {
        background-color: $title-color;
        height: 3px;
        width: 25px;
        margin-bottom: 5px;
        
    }
}

// === /header ===


// === hero ===

.hero {
    padding-top: 70px;      
    padding-bottom: 50px;

    &__inner {
        display: flex;
        justify-content: space-between;
        // flex-wrap: wrap;
    }

    &__img {
        object-fit: cover;
        // height: auto;
    }

    &__box {
        max-width: 493px;
        margin-right: 10px;
        margin-top: 92px;
    }

    &__title {
        @extend %title-font;
        font-weight: 700;
        font-size: 80px;
        line-height: 77px;
        margin-bottom: 30px;
    }

    &__text {
        color: $text-color;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 50px;
        font-family: $font-family2;
        font-weight: 400;
    }

    &__buttons {
        display: flex;  
    }

    &__btn {
        margin-right: 40px;
        border: none;
        background-color: $blue;
        color: #fff;
        font-size: 17px;
        line-height: 22px;
        padding: 19px 60px;
        border-radius: 10px;
        cursor: pointer;
    }

    &__btn-down {
        background-color: transparent;
        border: 1px solid #E7E7E7;
        padding: 19px;
        border-radius: 50%;
    }
}

// === /hero ===


// === brands ===

.brands {
    padding-top: 50px;
    padding-bottom: 40px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

// === /brands ===


// === services ===

.services {
    padding-top: 100px;

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 962px;
        flex-wrap: wrap;
        margin-bottom: 83px;
    }

    &__item-textbox {
        max-width: 457px;
    }

    &__item-title {
        @extend %title-font;
        font-size: 50px;
        line-height: 57px;
        margin-bottom: 30px;    
    }

    &__item-text {
        font-family: $font-family2;
        font-weight: 400;
        color: $text-color;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    &__item-link {
        font-weight: 700;
        color: $blue;
        font-size: 17px;
        line-height: 22px;
    }

    &__img--second {
        order: 2;
    }
}

// === /services ===


// === abilities ===

.abilities {
    padding-top: 55px;
    padding-bottom: 60px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__item {
        text-align: center;
        max-width: 313px;
        margin-right: 20px; 
        margin-bottom: 30px;
        &:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }
    }

    &__item-img {
        margin: 0 auto 7px auto;
    }

    &__item-img--right {
        margin: 0 auto 7px 34px;
    }

    &__item-title {
        @extend %title-font;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    &__item-text {
        font-family: $font-family2;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $text-color;
    }
}

// === /abilities ===


// === tariff ===

.tariff {
    padding-top: 90px;
    padding-bottom: 100px;
    
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;   
        margin-bottom: 82px;
    }

    &__title {
        max-width: 538px;
        @extend %title-font;
        font-size: 60px;
        line-height: 70px;
    }

    &__btns {
        padding: 5px 0 5px 8px;
        background-color: #F7F7FB;
        border-radius: 10px;
    }

    &__btn {
        border: none;
        background-color: $blue;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        padding: 17px 57px;
        border-radius: 10px 0px 0px 10px;
        cursor: pointer;
    }

    &__btn--white {
        background-color: #F7F7FB;
        color: $title-color;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        text-align: center;
        margin-right: 18px;
        margin-bottom: 20px;
        width: 330px;
        border-radius: 10px;
        background-color: #F8F8F8;
        color: $text-color;
        font-size: 17px;
        padding-bottom: 26px;
        padding-top: 34px;

        // &:last-child {
        //     margin-right: 0;
        // }
    }

    &__item--big {
        padding-top: 50px;
        padding-bottom: 43px;
        background-color: #FF7143;
        color: #fff;
    }

    &__item-name {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 22px;
    }

    &__item-price {
        color: $title-color;
        font-weight: 700;
        font-size: 60px;
        line-height: 56px;
        margin-bottom: 28px;
        display: inline-block;
    }

    &__item-price--big {
        color: #fff;
    }

    &__item-pricespan {
        font-size: 28px;
        line-height: 56px;
        color: $title-color;
        font-weight: 700;
    }
    
    &__item-pricespan--big {
        color: #fff;
    }

    &__item-website, &__item-hosting, &__item-support {
        margin-bottom: 26px;
        line-height: 22px;
    }

    &__item-btn {
        border: none;
        background-color: #fff;
        padding: 19px 96px;
        color: $blue;
        line-height: 22px;
        font-weight: 700;
        border-radius: 10px;
        cursor: pointer;
    }

    &__item-btn--big {
        background-color: #9F3919;
        color: #fff;
    }
}

// === /tariff ===


@import 'media';